.footer {
  width: 100%;
  min-height: 549px;
  padding: 0 215px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  background: url("/assets/images/footer/footer-background.png") repeat,
    linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);

  &__container {
    max-width: 770px;
    min-height: 112px;
    margin-top: 54px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 369px;
  }

  &__copyright-block {
    max-width: 241px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 41px;
  }

  &__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
  }
}

// -----------------FORM------------------

.form {
  &__container {
    max-width: 770px;
    min-height: 450px;
    margin-top: -300px;
    padding: 60px 60px 68px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    background-image: url("/assets/images/footer/form-background.png");
    background-position: bottom;
    background-repeat: no-repeat;

    z-index: 200;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__button {
    width: 140px;
  }
}

.form__content {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}

.form__contacts {
  width: fit-content;
  height: 196px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 22px;

  font-style: normal;

  &-item {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: flex-end;

    white-space: nowrap;

    svg {
      align-self: flex-end;
    }
  }
}

.icon-contact path {
  fill: #7e5aff;
  stroke: #7e5aff;
}

.clock {
  transform: rotate(180deg);
}

.form {
  &__inputs {
    min-height: 195px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
  }

  &__user-item input {
    width: 310px;
    height: 41px;
    border-bottom: 1px solid #2c4058;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
  }
}
