//-----------------header--------------------------

.header {
  @include adaptiveValue("min-height", 800, 720, 1);
  @include adaptiveValue("margin-bottom", 100, 30, 1);

  position: relative;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background: url("/assets/images/header/background.png") repeat,
    linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);

  &__container {
    margin-top: 53px;
    height: 100vh;
  }

  &__pagination {
    margin: 0;
    margin-right: 52px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include adaptiveValue("gap", 40, 15, 1);

    @media (max-width: 992px) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 150px;
    }
  }

  &__navigation {
    min-height: 54px;

    display: flex;
  }

  &__scroll {
    position: absolute;
    bottom: 50px;
    z-index: 200;

    &:hover path {
      stroke: #5f3cdf;
    }
  }

  &__title {
    margin: 223px 0 20px 0;

    font-weight: 700;
    @include adaptiveValue("font-size", 80, 40, 1);
    @include adaptiveValue("line-height", 98, 45, 1);
    letter-spacing: 0.1em;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    letter-spacing: 0.3em;
  }

  .swiper {
    &-slide {
      transition: opacity 0.5s ease, transform 0.5s ease;
      opacity: 0;
      transform: scale(0.9);

      &-active {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-container {
      transition: transform 0.5s ease;
    }
  }

  // --------------header menu-----------------

  .menu {
    max-width: 515px;
    align-self: center;
    margin-left: 144px;
    margin-right: 110px;

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 70px;

      white-space: nowrap;
    }

    &__item {
      &::before {
        content: "";
        width: 9px;
        height: 9px;
        margin-right: 14px;

        border: 1px solid #ffffff;
        border-radius: 50%;
        display: inline-block;
      }
      &:hover::before {
        background-color: #ffffff;
        transition: 0.3s;
      }
    }
  }

  @media (max-width: 1400px) {
    .header {
      &__navigation {
        width: 100%;
        justify-content: space-between;
      }

      .container {
        padding: 0 20px;
      }
    }
    .menu {
      max-width: 300px;
      margin-left: 0px;
      margin-right: 0px;

      &__list {
        gap: 20px;
      }

      &__item::before {
        margin-right: 3px;
      }
    }
  }

  @media (max-width: 992px) {
    .header {
      position: relative;
    }
    .menu {
      position: absolute;
      width: 100%;
      top: 120px;
      z-index: 100;

      &__list {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
