.news {
  background: url("/assets/images/news/background.png"),
    no-repeat linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);

  min-height: 978px;

  &__container {
    padding-top: 120px;
    @include adaptiveValue("padding-top", 120, 40, 1);
    position: relative;
  }

  &__image {
    width: 100%;
    height: 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 30px 20px;

    background-color: #ffffff;
  }

  &__title {
    color: #ffffff;
    @include adaptiveValue("margin-bottom", 90, 30, 1);
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__text {
    line-height: 25px;
    min-height: 90px;
  }

  .line {
    border: 1px solid #ffffff;
  }
}

.author {
  &__block {
    height: 60px;

    display: flex;
    gap: 20px;
  }

  &__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 6px;

    font-weight: 400;
    @include adaptiveValue("font-size", 18, 14, 1);
    line-height: 22px;
    color: #2c4058;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #55b7ff;
  }
}

.news {
  .swiper {
    &-slide__wrapper {
      width: 100%;
      max-height: 518px;
    }

    &-button {
      &-prev,
      &-next {
        top: 534px;
        width: calc(var(--swiper-navigation-size) / 40px * 40px);
      }

      &-prev {
        left: 115px;
      }

      &-next {
        right: 115px;
      }

      &-prev::after,
      &-next::after {
        content: "";
        width: calc(var(--swiper-navigation-size) / 40px * 40px);
      }

      &-prev:hover circle,
      &-next:hover circle {
        fill: #24ccfa;
      }
    }

    &-pagination {
      margin: 0;
      margin-top: 40px;
      @include adaptiveValue("margin-top", 40, 60, 1);
      position: static;

      display: flex;
      justify-content: center;
      @include adaptiveValue("gap", 40, 15, 1);
    }
  }
}

@media (max-width: 1550px) {
  .news {
    min-height: fit-content;

    &__container {
      @include adaptiveValue("padding-left", 100, 10, 0);
      @include adaptiveValue("padding-right", 100, 10, 0);
      margin: 0;
    }

    &__subtitle {
      min-height: 80px;
      margin-bottom: 0px;
    }

    .swiper-button {
      &-prev,
      &-next {
        svg {
          display: none;
        }
      }
    }

    .swiper-pagination {
      margin: 0;
      padding: 40px;
      @include adaptiveValue("padding-bottom", 100, 40, 1);
    }
  }
}

@media (max-width: 768px) {
  .news {
    &__image {
      width: 60%;
      height: inherit;
    }

    .swiper-slide__wrapper {
      display: flex;
    }
  }
}

@media (max-width: 400px) {
  .news {
    &__image {
      width: 100%;
      height: 214px;
    }

    &__content {
      padding: 15px;
    }

    &__subtitle {
      min-height: 50px;
    }

    .swiper-slide__wrapper {
      flex-direction: column;
    }
  }
}
